@font-face {
  font-family: '04b03b';
  src: url('../font/04b-03b-webfont.woff2') format('woff2'), url('../font/04b-03b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@mixin flex-c {
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin bgImg($bg) {
  background-image: url($bg);
  background-position: 0 0;
  background-size: 100% 100%;
}
@mixin calc($property, $expression) {
  #{$property}: calc(#{$expression});
}
@mixin percent100() {
  width: 100%;
  height: 100%;
}
@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #fdfdfd;
  background-image: url(../img/bg_all.png);
  background-position: 0 0;
  background-size: 100% 100%;
  .header {
    width: 100%;
    height: 10%;
    @include bgImg('../img/bg_head.png');
    @include flex-c;
    > div {
      padding-bottom: 10px;
    }
    .header-logo,
    .header-time {
      width: 38%;
      text-align: center;
      font-family: '04b03b';
      .current-date-time {
        @include flex-c;
        justify-content: center;
        font-size: 22px;
        > div {
          &:first-child {
            display: flex;
            align-items: center;
            p {
              margin-bottom: 0;
              &:first-child {
                font-size: 32px;
                margin-right: 10px;
              }
            }
          }
          &:last-child {
            font-size: 32px;
            margin-left: 20px;
          }
        }
      }
    }
    .header-logo {
      font-size: 24px;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .header-title {
      flex: 1;
      font-size: 32px;
      text-align: center;
    }
  }
  .space {
    height: 2%;
  }
  .main {
    width: 100%;
    height: 86%;
    padding: 0 1%;
    box-sizing: border-box;
    display: flex;
    > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .aside-left,
    .aside-right {
      flex: 0 0 28%;
    }
    .aside-left {
      .left-top {
        height: 16%;
        padding: 10px;
        box-sizing: border-box;
        @include bgImg('../img/bg_total.png');
        > div {
          @include percent100;
        }
      }
      .left-mid-1 {
        height: 17.5%;
        padding: 10px;
        box-sizing: border-box;
        @include bgImg('../img/bg_chart.png');
        > div {
          @include percent100;
          @include calc(height, '100% - 36px');
        }
      }
      .left-mid-2 {
        height: 29.5%;
        padding: 20px;
        box-sizing: border-box;
        @include bgImg('../img/bg_chart.png');
        > div {
          @include percent100;
          @include calc(height, '100% - 36px');
        }
      }
      .left-bottom {
        height: 30%;
        padding: 20px;
        box-sizing: border-box;
        @include bgImg('../img/bg_chart.png');
        > div {
          @include percent100;
          @include calc(height, '100% - 36px');
        }
        .left-bottom-list {
          height: 100%;
          ul {
            padding: 0 0;
            font-size: 14px;
          }
          li {
            list-style: none;
            @include flex-c();
            height: 22px;
            line-height: 22px;
            border-bottom: 1px dashed rgb(73, 73, 73);
            padding: 6px 0;
            &:last-child {
              border-bottom: none;
            }
            span {
              @include ellipsis();
              &:nth-of-type(1) {
                width: 200px;
              }

              &:nth-of-type(2) {
                flex: 1;
              }
              &:nth-of-type(3) {
                width: 150px;
                text-align: right;
              }
            }
          }
        }
      }
    }
    .aside-content {
      flex: 1;
      margin: 0 1%;
      .content-top {
        height: 16%;
        padding: 10px;
        box-sizing: border-box;
        @include bgImg('../img/bg_total.png');
        h1 {
          @include flex-c();
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: 20px;
          margin: 0;
          span {
            margin-right: 20px;
          }
          em {
            color: red;
            font-size: 50px;
            font-family: '04b03b';
          }
        }
      }
      .content-mid {
        height: 60%;
        box-sizing: border-box;
        @include bgImg('../img/bg_map.png');
        > div {
          @include percent100;
        }
      }
      .content-bottom {
        height: 20%;
        box-sizing: border-box;
        padding: 10px;
        @include bgImg('../img/bg_order.png');
        .center-bottom-list {
          height: 100%;
          ul {
            padding: 0 15px;
            font-size: 14px;
          }
          li {
            list-style: none;
            @include flex-c();
            height: 22px;
            line-height: 22px;
            border-bottom: 1px dashed rgb(73, 73, 73);
            padding: 6px 0;
            &:last-child {
              border-bottom: none;
            }
            span {
              @include ellipsis();
              &:nth-of-type(1) {
                width: 150px;
              }
              &:nth-of-type(2) {
                width: 100px;
              }
              &:nth-of-type(3) {
                flex: 1;
              }
              &:nth-of-type(4) {
                width: 50px;
                text-align: right;
              }
            }
          }
        }
      }
    }
    .aside-right {
      .right-top {
        height: 16%;
        padding: 10px;
        box-sizing: border-box;
        @include bgImg('../img/bg_chart.png');
      }
      .right-mid {
        height: 38%;
        padding: 20px;
        box-sizing: border-box;
        @include bgImg('../img/bg_chart.png');
        > div {
          @include percent100;
          @include calc(height, '100% - 36px');
        }
      }
      .right-bottom {
        height: 42%;
        padding: 20px;
        box-sizing: border-box;
        @include bgImg('../img/bg_chart.png');
        > div {
          @include percent100;
          @include calc(height, '100% - 36px');
        }
      }
    }
  }
}

.common-list {
  @include flex-c();
  height: 100%;
  padding: 0 20px;
  li {
    list-style: none;
    width: calc(100% / 3);
    text-align: center;
    h1 {
      font-size: 30px;
      color: #f90;
      margin-bottom: 10px;
      font-family: '04b03b';
    }
  }
}
.chart-title {
  height: 36px;
  font-size: 18px;
}
